datasette>=1.0  # Use the latest stable version
sqlite-utils>=3.35  # Use the latest stable version
datasette-cluster-map
datasette-render-markdown
mod-spacialite  # Required for spatial indexing if using latitude/longitude